Step 1. Ensure that you have the dataset file named `transactions.csv` in the current directory.

The dataset is a subset of https://www.kaggle.com/ealaxi/paysim1/version/2 which was originally generated as part of the following research:

E. A. Lopez-Rojas , A. Elmir, and S. Axelsson. "PaySim: A financial mobile money simulator for fraud detection". In: The 28th European Modeling and Simulation Symposium-EMSS, Larnaca, Cyprus. 2016

Step 2. Complete the following exercises.

0. Read the dataset (`transactions.csv`) as a Pandas dataframe. Note that the first row of the CSV contains the column names.

0. Return the column names as a list from the dataframe.

0. Return the first k rows from the dataframe.

0. Return a random sample of k rows from the dataframe.

0. Return a list of the unique transaction types.

0. Return a Pandas series of the top 10 transaction destinations with frequencies.

0. Return all the rows from the dataframe for which fraud was detected.

0. Bonus. Return a dataframe that contains the number of distinct destinations that each source has interacted with to, sorted in descending order. You will find [groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) and [agg](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.DataFrameGroupBy.aggregate.html) useful. The predefined aggregate functions are under `pandas.core.groupby.GroupBy.*`. See the [left hand column](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.DataFrameGroupBy.nunique.html).

Use the empty cell to test the exercises. If you modify the original `df`, you can rerun the cell containing `exercise_0`.

In [16]:
import pandas as pd
import matplotlib.pyplot as plt

def exercise_0(file):
    return pd.read_csv(file)

def exercise_1(df):
    return df.columns

def exercise_2(df, k):
    return df.head(k)

def exercise_3(df, k):
    return df.sample(k)

def exercise_4(df):
    unique = df['type'].unique()
    return unique

def exercise_5(df):
    top_des = df['nameDest'].value_counts()
    return top_des.head(10)

def exercise_6(df):
    df['']
    pass

def exercise_7(df):
    pass

def visual_1(df):
    pass

def visual_2(df):
    pass

def exercise_custom(df):
    pass
    
def visual_custom(df):
    pass

In [17]:
df = exercise_0('transactions.csv')

In [25]:
# Test exercises here
print(df)

        step      type     amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0          1   PAYMENT    9839.64  C1231006815       170136.0       160296.36
1          1   PAYMENT    1864.28  C1666544295        21249.0        19384.72
2          1  TRANSFER     181.00  C1305486145          181.0            0.00
3          1  CASH_OUT     181.00   C840083671          181.0            0.00
4          1   PAYMENT   11668.14  C2048537720        41554.0        29885.86
...      ...       ...        ...          ...            ...             ...
199995    13   CASH_IN  149024.27  C1446913085         8688.0       157712.27
199996    13   PAYMENT   71076.01  C1421983410        50291.0            0.00
199997    13  CASH_OUT  147125.05    C80624764            0.0            0.00
199998    13  CASH_OUT   97529.67   C595001108            0.0            0.00
199999    13  CASH_OUT  211748.46  C2048647654       496279.0       284530.54

           nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0       M1979787155            0.00            0.00        0               0
1       M2044282225            0.00            0.00        0               0
2        C553264065            0.00            0.00        1               0
3         C38997010        21182.00            0.00        1               0
4       M1230701703            0.00            0.00        0               0
...             ...             ...             ...      ...             ...
199995   C476402209       440028.59       321427.51        0               0
199996   M855368711            0.00            0.00        0               0
199997   C747330421      1058502.64      1325544.47        0               0
199998   C575555170      1921846.97      2019376.64        0               0
199999  C1091477477            0.00       211748.46        0               0

[200000 rows x 11 columns]

In [26]:
test = exercise_1(df)
print(test)

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [27]:
test = exercise_2(df, 5)
print(test)

   step      type    amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0     1   PAYMENT   9839.64  C1231006815       170136.0       160296.36
1     1   PAYMENT   1864.28  C1666544295        21249.0        19384.72
2     1  TRANSFER    181.00  C1305486145          181.0            0.00
3     1  CASH_OUT    181.00   C840083671          181.0            0.00
4     1   PAYMENT  11668.14  C2048537720        41554.0        29885.86

      nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0  M1979787155             0.0             0.0        0               0
1  M2044282225             0.0             0.0        0               0
2   C553264065             0.0             0.0        1               0
3    C38997010         21182.0             0.0        1               0
4  M1230701703             0.0             0.0        0               0

In [28]:
test = exercise_3(df, 5)
print(test)

        step      type     amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
68156      9   PAYMENT   18603.36   C131946686      163294.00       144690.64
49248      9  CASH_OUT  137903.08  C1236317220       12079.00            0.00
53294      9  TRANSFER  306410.39    C53123132         223.00            0.00
110272    11  CASH_OUT  138845.85  C1057255626           0.00            0.00
29098      8   CASH_IN   41303.65  C1301047790    12296504.64     12337808.29

           nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
68156    M838763861            0.00            0.00        0               0
49248    C641321181        40184.00       246040.64        0               0
53294   C1866827563      4055829.69      4497432.25        0               0
110272  C1198167820       250957.51       210869.08        0               0
29098   C2103065350      1176347.63      1135043.98        0               0

In [29]:
test = exercise_4(df)
print(test)

['PAYMENT' 'TRANSFER' 'CASH_OUT' 'DEBIT' 'CASH_IN']

In [ ]:
test = exercise_5(df)
print(test)

In [ ]:
test = exercise_6(df)
print(test)

In [ ]:
test = exercise_7(df)
print(test)

Create graphs for the following. 
1. Transaction types bar chart, Transaction types split by fraud bar chart
1. Origin account balance delta v. Destination account balance delta scatter plot for Cash Out transactions

Ensure that the graphs have the following:
 - Title
 - Labeled Axes
 
The function plot the graph and then return a string containing a short description explaining the relevance of the chart.

In [ ]:
def visual_1(df):
    def transaction_counts(df):
        # TODO
        pass
    def transaction_counts_split_by_fraud(df):
        # TODO
        pass

    fig, axs = plt.subplots(2, figsize=(6,10))
    transaction_counts(df).plot(ax=axs[0], kind='bar')
    axs[0].set_title('TODO')
    axs[0].set_xlabel('TODO')
    axs[0].set_ylabel('TODO')
    transaction_counts_split_by_fraud(df).plot(ax=axs[1], kind='bar')
    axs[1].set_title('TODO')
    axs[1].set_xlabel('TODO')
    axs[1].set_ylabel('TODO')
    fig.suptitle('TODO')
    fig.tight_layout(rect=[0, 0.03, 1, 0.95])
    for ax in axs:
      for p in ax.patches:
          ax.annotate(p.get_height(), (p.get_x(), p.get_height()))
    return 'TODO'

visual_1(df)

In [ ]:
def visual_2(df):
    def query(df):
        # TODO
        pass
    plot = query(df).plot.scatter(x='TODO',y='TODO')
    plot.set_title('TODO')
    plot.set_xlim(left=-1e3, right=1e3)
    plot.set_ylim(bottom=-1e3, top=1e3)
    return 'TODO'

visual_2(df)

Use your newly-gained Pandas skills to find an insight from the dataset. You have full flexibility to go in whichever direction interests you. Please create a visual as above for this query. `visual_custom` should call `exercise_custom`.

In [ ]:
def exercise_custom(df):
    # TODO
    pass
    
def visual_custom(df):
    # TODO
    pass

Submission

1. Copy the exercises into `task1.py`.
2. Upload `task1.py` to Forage.

All done!

Your work will be instrumental for our team's continued success.